<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CalculaterPro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CalculaterPro.Properties.Settings>
            <setting name="Bred" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bgreen" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Bblue" serializeAs="String">
                <value>58</value>
            </setting>
            <setting name="IndexView" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheckToolTip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckEventTool" serializeAs="String">
                <value>True</value>
            </setting>
        </CalculaterPro.Properties.Settings>
    </userSettings>
</configuration>
